.custom-toggler {
  border: 2px solid white;
  /* Bordo bianco */
  border-radius: 50%;
  /* Arrotonda l'icona */
  padding: 5px;
  /* Spazio interno per dare respiro all'icona */
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  width: 24px;
  /* Regola la dimensione dell'icona */
  height: 24px;
}

.distanzaListItem {
  line-height: 0.5;
  border: none !important;
  color: #333333 !important
}

.mappa:hover {
  cursor: pointer
}

#search {
  outline: none;
}

.city-container{
  background-color: #1B1B1D !important;
}